@use '../../app/styles/helpers' as *;

.link {
    @include fluid-text(40, 24);
    color: var(--color-black);
    font-family: 'Rubik';
    font-weight: 600;
    line-height: rem(28);
    letter-spacing: 0;

    text-decoration: none;
}

.profile-layout {
    height: 100vh;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    &__container {
        display: flex;
        // flex-direction: row;
        flex: 1;

        &-nav {
            max-width: rem(532);
            width: 100%;
            border-radius: rem(55);
            background: #F5F5F5;
            position: sticky;
            top: rem(109); // Высота хедера, подстройте под вашу
            height: calc(100vh - 60px); // Высота экрана минус высота хедера
            overflow-y: auto;
            z-index: 90;
        }

        &-links {
            display: flex;
            flex-direction: column;
        }

        &-link {

            position: relative;
            display: flex;
            padding: rem(36) 0 rem(36) rem(100);
            border-radius: rem(55);
            transition: color 0.3s ease, background 0.3s ease, font-size 0.3s ease;

            &::after,
            &::before {
                content: '';
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:first-child {
                &.profile-layout__container-link--active {

                    &::before {
                        position: absolute;
                        left: 100%;
                        top: 0;
                        transform: rotate(180deg);
                        content: '';
                        display: block;
                        width: rem(25);
                        height: rem(25);
                        background: radial-gradient(circle at left top, transparent rem(25), var(--color-grey-main) rem(25));
                    }
                }
            }

            &--active {
                @include fluid-text(45, 24);
                line-height: rem(32);
                color: var(--color-white);
                background: var(--color-grey-main);
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;

                &::after {
                    opacity: 1;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    content: '';
                    display: block;
                    width: rem(25);
                    height: rem(25);
                    background: radial-gradient(circle at left bottom, transparent rem(25), var(--color-grey-main) rem(25));
                }

                &::before {
                    opacity: 1;
                    position: absolute;
                    right: 0;
                    bottom: 100%;
                    content: '';
                    display: block;
                    width: rem(25);
                    height: rem(25);
                    background: radial-gradient(circle at left top, transparent rem(25), var(--color-grey-main) rem(25));
                }
            }

        }

        &-content {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: rem(50) rem(105) 0 rem(105);
        }
    }

}