@use '../../../app/styles/helpers' as *;

.profile-header {
    width: 100%;
    background-color: var(--color-blue-main);
    min-height: rem(109);
    border-radius: 55px;

    &__container {
        margin: 0 101px;
        height: 100%;
        display: flex;
        align-items: center;

        &-logo {
            padding: 0;
        }
    }
}

.logo {
    @include fluid-text(55, 32);
    font-family: 'Rubik';
    font-weight: 800;
    color: var(--color-white);
    line-height: 39px;
}