@use '../../../app/styles/helpers' as *;


.chip-container {
    padding: rem(5) !important;

    &__element {
        border-radius: rem(50);
        max-width: rem(336);
        width: 100%;
        height: rem(82);
        background-color: var(--color-blue-main);

        span {
            color: var(--color-white);
            @include fluid-text(40, 24);
            font-weight: 400;
            line-height: rem(28);
            font-family: Rubik;
        }

        svg {
            max-width: rem(40);
            max-height: rem(40);
            width: rem(40);
            height: rem(40);
        }
    }
}