@use '../../app/styles/helpers/' as *;


.institution-name {
    @include fluid-text(40, 24);
    font-family: Rubik;
    font-weight: 600;
    line-height: rem(28);
}

.institution-address {
    @include fluid-text(30, 24);
    font-family: Rubik;
    font-weight: 400;
    line-height: rem(21);
}

.institution-card__field {
    padding-bottom: rem(30);
}

.employee-card__field {
    padding-bottom: rem(30);
}

.institution {
    height: 100%;
    max-width: rem(1211);
    width: 100%;

    &-card {
        border: rem(3) solid var(--color-blue-main);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-height: rem(430);
        height: 100%;
        border-radius: rem(50);
        background-color: var(--color-blue-main);

        &__body {
            padding-left: rem(47);
            display: flex;
            flex-direction: row;
            background-color: var(--color-white);
            border-radius: rem(50);
            max-height: rem(201);
            height: 100%;
        }

        &__logo {
            max-width: rem(193);
            max-height: rem(193);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--color-grey-main);
            position: relative;
            bottom: rem(58);
            border: rem(3) solid var(--color-white);
        }

        &__info {
            padding-left: rem(39);
            padding-top: rem(36);
            width: 100%;
        }

        &__name {
            padding-bottom: rem(28);
        }
    }
}

.employee {
    &-wrapper {
        height: 100%;
        padding-top: rem(23);
    }

    &-card {
        border-radius: rem(50);
        border: rem(3) solid var(--color-grey-main);
        max-height: rem(276);
        height: 100%;
        padding: rem(63) rem(68);

        &__body {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__avatar {
            max-width: rem(151);
            max-height: rem(151);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--color-grey-main);
        }

        &__info {
            padding: rem(36) 0 0 rem(60);
            flex-grow: 1;
        }

        &__name {
            padding-bottom: rem(28);
        }

        &__rating {
            font-size: rem(40);
            color: var(--color-blue-main);
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-top: rem(36);
        }
    }
}