@import '@app/styles/mediaMixin.scss';

$border-color: linear-gradient(90deg, #0769A8, #1996E5);

.menuBlockItem {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    min-width: 60px;
    min-height: 60px;
    width: 40vw;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px; // Толщина бордера
        border-radius: inherit;
        background: $border-color;
        mask:
            linear-gradient(white 0 0) content-box,
            linear-gradient(white 0 0);
        mask-composite: exclude;
        -webkit-mask:
            linear-gradient(white 0 0) content-box,
            linear-gradient(white 0 0);
        -webkit-mask-composite: xor;
    }

    .menuBlockItem__image {
        img {
            width: 30vw;
            height: 25vw;
        }
    }

    .menuBlockItem__info {
        display: flex;
        flex-direction: column;
        font-size: 4vw;
        padding: 2px;

        .menuBlockItem__name {
            margin-bottom: 10px;
        }
    }
}

@include _1440 {
    .menuBlockItem {
        width: 20vw;

        .menuBlockItem__image {
            img {
                width: 15vw;
                height: 100%;
            }
        }

        .menuBlockItem__info {
            font-size: 2vw;
        }
    }
}

@include _1024 {
    .menuBlockItem {
        width: 20vw;

        .menuBlockItem__image {
            img {
                width: 13vw;
                height: 100%;
            }
        }

        .menuBlockItem__info {
            font-size: 2vw;
        }
    }
}

@include _768 {
    .menuBlockItem {
        width: 17vw;

        .menuBlockItem__image {
            img {
                width: 11vw;
                height: 100%;
            }
        }

        .menuBlockItem__info {
            font-size: 1.8vw;
        }
    }
}

@include _1440 {
    .menuBlockItem {
        width: 14vw;
        border-radius: 30px;

        .menuBlockItem__image {
            img {
                width: 10vw;
                height: 100%;
            }
        }

        .menuBlockItem__info {
            font-size: 1.5vw;
        }
    }
}

@include _1920 {
    .menuBlockItem {
        width: 10vw;
        border-radius: 30px;

        .menuBlockItem__image {
            img {
                width: 8vw;
                height: 100%;
            }
        }

        .menuBlockItem__info {
            font-size: 1.2vw;
        }
    }
}