@use '../../app/styles/helpers' as *;

.balance {
    max-width: rem(894);
    max-height: rem(671);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: rem(3) solid var(--color-blue-main);
    border-radius: rem(55);
    background-color: var(--color-blue-main);

    &-header {
        max-height: rem(82);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        &__label {
            font-family: 'Rubik';
            font-weight: 600;
            @include fluid-text(40, 24);
            color: var(--color-white);
            line-height: rem(28);
        }
    }

    &-main {
        flex: 1;
        border-radius: rem(55);
        background-color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: rem(123);

        &__card {
            max-width: rem(474);
            max-height: rem(270);
            width: 100%;
            height: 100%;
            background-color: var(--color-grey-main);
            border-radius: rem(20);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: rem(24);

            &-label {
                font-family: 'Rubik';
                font-weight: 600;
                @include fluid-text(35, 24);
                line-height: rem(24);
                
            }
        }

        &__buttons {
            padding-left: rem(54);
            padding-right: rem(54);
            height: rem(82);
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: rem(66);
        }
    }

}