@use '../../../../app/styles/helpers' as *;

.tipsBlock {
    padding: 0 2vh;
    height: auto;

    &__price {
        padding: 0 0 2vh 0;
    }

    &__buttons {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .percentButton:last-child {
            width: 100%;
        }
    }
}


@include desktop_1024 {
    .tipsBlock {
        padding: 0 15%;

        &__buttons {
            .percentButton:last-child {
                margin-top: 40px;
                flex-basis: 60%;
                // width: 100%;
            }
        }
    }
}

@include desktop_1920 {
    .tipsBlock {
        padding: 0 25%;

        &__buttons {
            justify-content: center;
            .percentButton:last-child {
                margin-top: 40px;
                flex-basis: 60%;
                // width: 100%;
            }
        }
    }
}