@use '../../../../app/styles/helpers' as *;

.field-label {
    @include fluid-text(40, 24);
    font-weight: 600;
    line-height: rem(28);
    font-family: Rubik;
}

.header-label {
    @include fluid-text(40, 24);
    font-family: Rubik;
    font-weight: 600;
    line-height: rem(28);
    color: var(--color-white);
}

.item-title{
    @include fluid-text(25, 24);
    font-family: Rubik;
    font-weight: 600;
    line-height: rem(18);
    color: var(--color-black);
}

.item-label{
    @include fluid-text(20, 20);
    font-family: Rubik;
    font-weight: 600;
    line-height: rem(14);
    color: var(--color-black);
}

.item-value{
    @include fluid-text(20, 20);
    font-family: Rubik;
    font-weight: 400;
    line-height: rem(14);
    color: var(--color-black);
}

.orders {
    max-width: rem(1211);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: rem(24);

    &__header {
        max-height: rem(82);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-blue-main);
        border-radius: rem(55) rem(55) 0 0;

    }

    &__main {
        max-width: rem(818);
        width: 100%;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        background-color: var(--color-blue-main);
    }

    &__content {
        padding: rem(53) rem(59);
        background-color: var(--color-white);
        border: rem(3) solid var(--color-blue-main);
        border-radius: rem(55) rem(55) 0 0;
        height: rem(571);
        overflow: hidden;
        border-bottom: none;
        border-bottom-right-radius: rem(50);
        

    }

    &__fields {
        display: flex;
        flex-direction: column;
    }

    &__field {
        display: flex;
        max-width: rem(694);
        width: 100%;
        height: 100%;
        max-height: rem(78.76);
        flex-direction: row;
        align-items: center;
        white-space: nowrap;

        &-label {
            padding-right: rem(50);
        }

        &-input-wrapper {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;

        }
    }

    &__selected-items {
        overflow-y: auto;
        max-height: rem(300);
        margin-top: rem(20);

        span {
            @include fluid-text(40, 24);
            font-weight: 600;
            font-family: Rubik;
        }
    }

    &__history {
        max-width: rem(393);
        width: 100%;


        &-header {
            background-color: var(--color-grey-main);
        }

        &-content {
            padding: rem(2);
            background-color: var(--color-grey-main);
            max-height: rem(615);
            height: 100%;
            border-bottom-left-radius: rem(40);
            border-bottom-right-radius: rem(40);
            overflow-y: auto;
           

        }

        &-item {
            margin-bottom: rem(2);
            background-color: var(--color-white);
            border-radius: rem(40);
            padding: rem(31) rem(34);
            gap: rem(22);
            min-height: rem(212);
            

            &-header {
                text-align: center;
                padding-bottom: rem(22);
            }

            &-details {
                
            }

            &-row {
                padding-bottom: rem(22);
            }
        }


    }

    &__footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        white-space: nowrap;

        &-spacer {
            position: relative;
            width: 100%;
            height: rem(98);
            border: rem(3) solid var(--color-blue-main);
            border-radius: rem(50);
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-top: none;
            border-right: none;

            &:after {
                width: rem(50);
                height: rem(52);
                position: absolute;
                bottom: rem(-3);
                right: 0px;
                content: '';
                border: rem(3) solid var(--color-blue-main);
                border-bottom-right-radius: rem(50);
                border-left: none;
                border-top: none;
            }

        }

        &-button {
            position: relative;
            border: rem(3) solid var(--color-blue-main);
            border-radius: rem(50);
            padding-top: rem(16);
            padding-left: rem(16);
            border-bottom: none;
            border-right: none;
            border-left: none;
            border-top-right-radius: 0;


            &:before {
                z-index: -1;
                max-width: rem(435);
                width: 100%;
                height: rem(50);
                position: absolute;
                border-bottom: none !important;
                border-left: none;
                border-top-left-radius: rem(50);
                border-top-right-radius: 0;
                border-right: none !important;
                top: rem(-3);
                left: rem(-3);
                content: '';
                border: rem(3) solid var(--color-blue-main);
                // transform: rotate(0deg);
            }

            &:after {
                width: rem(50);
                height: rem(50);
                position: absolute;
                top: rem(-50);
                right: 0;
                content: '';
                transform: rotate(270deg);
                border: rem(3) solid var(--color-blue-main);
                border-bottom-left-radius: rem(50);
                border-top: none;
                border-right: none;
            }
        }
    }
}