@use '../../app/styles/helpers' as *;

.paymentBlock {
    height: auto;
    padding: 0 2vh;

    &__price {
        padding: 0 0 2vh 0;

    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}


@include mobile_425 {
    .paymentBlock {

        &__price {
            padding: 0 0 2vh 0;

        }

        &__buttons {
            display: flex;
            flex-direction: row;
        }
    }
}

@include tablet_768{
    .paymentBlock {

        &__price {
            padding: 0 0 2vh 0;

        }

        &__buttons {
            margin: 20px 0;
            display: flex;
            flex-direction: row;
        }
    }
}

@include desktop_1024{
    .paymentBlock {
        padding: 0 15%;

        &__price {
            padding: 0 0 2vh 0;

        }

        &__buttons {
            margin: 20px 0;
            display: flex;
            flex-direction: row;
        }
    }
}

@include desktop_1920{
    .paymentBlock {
        padding: 0 25%;

        &__price {
            padding: 0 0 2vh 0;

        }

        &__buttons {

            justify-self: center;
            margin: 20px 0;
            display: flex;
            flex-direction: row;
        }
    }
}
