@import '@app/styles/mediaMixin.scss';

.payment {
    width: 100%;
    min-width: 320px;
    height: 100vh;

    .payment__header {
        .payment__brand {
            font-size: 4vw;
            padding: 3vw 0;
            text-align: center;
        }
    }
}

@include _320 {}