@use 'sass:math';
@use 'functions' as *;

@mixin fluid-text($max: 55, $min: 24) {
  font-size: fluid($max, $min);
  line-height: 100%;
  letter-spacing: 0;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}