@use '../../../../app/styles/helpers' as *;

.sliders {
    padding-top: 20px;

    overflow: hidden;

    .slick-slider,
    .slick-list,
    .slick-track {
        height: 100%;
    }

    .sliders__item {
        position: relative;

        img {
            border-radius: 50px;
            padding: 0 10px;
            width: 100%;
            height: 50vw;
        }

        .sliders__button {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%)

        }
    }
}

@include tablet_768 {
    .sliders {
        .sliders__item {
            img {
                height: 30vw;
            }
        }
    }
}

@include desktop_1440 {
    .sliders {
        .sliders__item {
            img {
                height: 23vw;
            }

            .sliders__button {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
        }   
    }
}