@use '../../../../app/styles/helpers' as *;

.profile-button {
    white-space: nowrap;
    background-color: var(--color-blue-main);
    font-family: Rubik;
    @include fluid-text(30, 24);
    font-weight: 500;
    border: rem(3) solid var(--color-blue-main);
    width: 100%;
    border-radius: rem(50);
    color: var(--color-white);
    max-height: rem(78.76);
    height: 100%;
    line-height: rem(21);
    padding: rem(26.88) rem(47);
    cursor: pointer;
    transition:  0.3s ease;

    &:hover{
        transform: scale(1.03);
    }

    &--small {
        width: rem(420);
    }

    &--secondary {
        background-color: var(--color-grey-main);
        color: var(--color-white);
        border: rem(3) solid transparent;
    }
}