@import '@app/styles/mediaMixin.scss';

.paymentPage {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .paymentPage__header {
        .paymentPage__brand {
            font-size: 4vw;
            padding: 10px;
            text-align: center;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@include _1920 {
    .paymentPage {
        .paymentPage__header {
            .paymentPage__brand {
                h2 {
                    font-size: 1rem !important;
                }

            }
        }
    }
}

@include _1440 {
    .paymentPage {
        .paymentPage__header {
            .paymentPage__brand {
                font-size: 1.2vw !important;
            }
        }
    }
}

@include _1024 {
    .paymentPage {
        .paymentPage__header {
            .paymentPage__brand {
                h2 {
                    font-size: 1.5vw !important;
                }

            }
        }
    }
}

@include _768 {
    .paymentPage {
        .paymentPage__header {
            .paymentPage__brand {
                h2 {
                    font-size: 2vw;
                }

            }
        }
    }
}