@import '@app/styles/mediaMixin.scss';

$btn-color-active: #59CD90;
$btn-color: #D9D9D9;

.percentButton {
    padding: 5px 0;
    margin: 2.5px;
    cursor: pointer;

    .percentButton__content,
    .percentButton__content-active {
        min-height: 15vw;
        min-width: 20vw;
        padding: 5px;
        height: auto;
        border-radius: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: $btn-color;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            transform: scale(1.03);
        }
    }

    .percentButton__content-active {
        background-color: $btn-color-active;
    }

    .percentButton__percent span {
        font-size: 7vw;
    }

    .percentButton__price span {
        font-size: 4vw;
    }

    .percentButton__title {
        display: flex;
        justify-content: center;

        span {
            font-size: 5vw;
        }
    }

    // Кнопка для ручного ввода чаевых
    .percentButton__content-custom,
    .percentButton__content-custom-active {
        width: 100%;
        max-width: none;
        min-height: 15vw;
        min-width: 15vw;
        padding: 5px;
        height: auto;
        border-radius: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $btn-color;
    }

    .percentButton__content-custom-active {
        background-color: $btn-color-active;
    }
}

@include _425 {
    .percentButton {

        .percentButton__content,
        .percentButton__content-active {
            min-height: 13vw;
            min-width: 18vw;
            height: auto;
        }

        .percentButton__percent span {
            font-size: 6vw;
        }

        .percentButton__price span {
            font-size: 3.5vw;
        }
    }
}

@include _768 {
    .percentButton {

        .percentButton__content,
        .percentButton__content-active {
            min-height: 10vw;
            min-width: 13vw;
            height: auto;
        }

        .percentButton__percent span {
            font-size: 4vw;
        }

        .percentButton__price span {
            font-size: 2.5vw;
        }

        .percentButton__title {
            display: flex;
            justify-content: center;

            span {
                font-size: 3vw;
            }
        }

        .percentButton__content-custom,
        .percentButton__content-custom-active {
            width: 100%;
            max-width: none;
            min-height: 10vw;
            min-width: 13vw;
            padding: 5px;
            height: auto;
            border-radius: 25px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $btn-color;
        }

        .percentButton__content-custom-active {
            background-color: $btn-color-active;
        }
    }


}

@include _1024 {
    .percentButton {

        .percentButton__content,
        .percentButton__content-active {
            min-height: 7vw;
            min-width: 11vw;
            height: auto;
        }

        .percentButton__percent span {
            font-size: 1.1rem
        }

        .percentButton__price span {
            font-size: 2vw;
        }

        .percentButton__title {
            display: flex;
            justify-content: center;

            span {
                font-size: 1rem;
            }
        }

        .percentButton__content-custom,
        .percentButton__content-custom-active {
            width: 100%;
            max-width: none;
            min-height: 7vw;
            min-width: 11vw;
            padding: 5px;
            height: auto;
            border-radius: 25px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $btn-color;
        }

        .percentButton__content-custom-active {
            background-color: $btn-color-active;
        }
    }


}


@include _1440 {
    .percentButton {

        .percentButton__content,
        .percentButton__content-active {
            min-height: 6vw;
            min-width: 8vw;
            height: auto;
        }

        .percentButton__percent span {
            font-size: 1rem
        }

        .percentButton__price span {
            font-size: 0.8rem
        }

        .percentButton__title {
            display: flex;
            justify-content: center;

            span {
                font-size: 1rem;
            }
        }

        .percentButton__content-custom,
        .percentButton__content-custom-active {
            width: 100%;
            max-width: none;
            min-height: 4vw;
            min-width: 10vw;
            padding: 5px;
            height: auto;
            border-radius: 25px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $btn-color;
        }

        .percentButton__content-custom-active {
            background-color: $btn-color-active;
        }
    }
}

@include _1920 {
    .percentButton {

        .percentButton__content,
        .percentButton__content-active {
            min-height: 4vw;
            min-width: 5vw;
            height: auto;
        }

        .percentButton__percent span {
            font-size: 1rem
        }

        .percentButton__price span {
            font-size: 0.8rem
        }

        .percentButton__title {
            display: flex;
            justify-content: center;

            span {
                font-size: 1rem;
            }
        }

        .percentButton__content-custom,
        .percentButton__content-custom-active {
            width: 100%;
            max-width: none;
            min-height: 3vw;
            min-width: 8vw;
            padding: 5px;
            height: auto;
            border-radius: 25px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $btn-color;
        }

        .percentButton__content-custom-active {
            background-color: $btn-color-active;
        }
    }


}