.profile-orders {
    width: 692px;
    height: auto;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 100%;

        .profile-orders__placing {
            .profile-orders__placing-title{
                color: red
            }
        }
    }


}